<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout/base">

<div layout:fragment="adminContent" id="scroll">
	
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4 class="m-0">Report Details</h4>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
						<li class="breadcrumb-item active">Report</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card card-outline card-primary">
			<div class="card-header">
				<h3 class="card-title"></h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool"
						data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool"
						data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<div class="card-body" style="display: block;">
				<div class="row">
					<div class="col-md-6" data-select2-id="29">
						<div class="form-group">
			              <button style="color: #ffffff;" type="button"
							class="btn btn-block bg-gradient-info btn-sm" id="btn-emp-report">
							<i class="fa fa-file-pdf" aria-hidden="true"></i>  Employee Report
						</button>
						</div>
					</div>
					
					<div class="col-md-6" data-select2-id="29">
						<div class="form-group">
							<button style="color: #ffffff;" type="button"
							class="btn btn-block bg-gradient-info btn-sm" id="btn-doc-report">
							<i class="fa fa-file-pdf" aria-hidden="true"></i>  Doctor Report
						</button>
						</div>
					</div>
					</div>
                   </div>
		      </div>
     </div>
</div>

<div layout:fragment="script">
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							
							$("#nav-Report").addClass("active");
				            $("#nav-GenReport").addClass("active menu-is-opening menu-open");
				            
							$("#btn-emp-report").click(function() {
								 window.open('/user/empReport', '_blank');
							});
							
							$("#btn-doc-report").click(function() {
								 window.open('/user/docReport', '_blank');
							});
							
							
						});
	</script>

</div>

<div layout:fragment="css">
	<style>
.errorMsg {
	color: red;
	font-size: 13px;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #DEE2E6;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #DEE2E6;
}
</style>
</div>